.index-content {
	max-width: 760px;
	width:96%;
	text-align: left;
	padding: 8px;
} 

@media screen and (max-width: 596px){
	mjx-container {
		max-width: 92vw;
		padding: 0;
		margin: 0;
	}
	mjx-mtable {
		max-width: 90vw;
		min-width: 0 !important;
	}
	mjx-table {
		max-width: 90vw;
		overflow-x: scroll;
	}
}
a {
	word-wrap : break-word;
}

.cf-handle {
	text-decoration: none;
	font-weight: bold;
}
.legendary-grandmaster {color: red;}
.international-grandmaster {color: red;}
.grandmaster {	color: red;}
.international-master {color: orange;}
.master {color: orange;}
.candidate-master {color: #a0a;}
.expert {color: blue;}
.specialist {color:#03a89e;}
.pupil {color: green;}
.newbie {color: gray;}



