<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
      {{ else }}
      {{ partial "logo.html" . }}
      <div class="copyright">
        <span
          ><a href="https://scitech-iith.netlify.app/" target="_blank" rel="noopener">Scitech</a> Team. Copyright © {{ now.Year }}
          </span
        >
        <span
          >Theme created by
          panr</span
        >
      </div>
    {{ end }}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
<script src="{{ "/js/codeforces.js" |  urlize | relURL  }}"></script>
{{- partial "extended_footer.html" . }}
